body {
    font-family: Verdana, Geneva, sans-serif;
    color: #828282;
    font-size: 10pt;
    border: 0;
    width: 85%;
    background-color: #ffffff;
    margin: auto
}
.styled-Body-jjp1ab {
    background-color: #f6f6ef;
    margin-top: 2px
}