.styled-Comment-1pomnn {
    font-size: 9pt;
    color: #000000;
    margin-bottom: 0.5cm
}
.styled-Subtext-139xdu9 {
    font-size: 8pt;
    color: #828282;
    margin-bottom: 0.5em
}
.styled-Subtext-139xdu9 a:link {
    color: #828282;
    text-decoration: none
}
.styled-Subtext-139xdu9 a:hover {
    text-decoration: underline
}
.styled-Subtext-139xdu9 a:visited {
    color: #828282;
    text-decoration: none
}