.styled-Post-kthu8d:link {
    color: #000000;
    text-decoration: none
}
.styled-Post-kthu8d:hover {
    color: #828282;
    text-decoration: underline
}
.styled-Post-kthu8d:visited {
    color: #828282;
    text-decoration: none
}